.title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.title p {
  margin-right: 20px; 
  margin-top: -20px;
  margin-left: 50px;/* Ajusta el margen entre las etiquetas y los campos de entrada */
}


.title label {
  margin-bottom: 10px; /* Ajusta el espacio entre las etiquetas y los campos de entrada */
}

.title input {
  margin-right: 20px;
; /* Ajusta el espacio entre los campos de entrada */
}

