.space-at-bottom {
    margin-bottom: 100px;
  }

.header1 {
 color: black;
}

.container{
  margin-bottom: 50px;
}

.button-container{
  margin-bottom: 50px;
}

.button-Back{
  background-color: rgb(216, 183, 49);
  font-size: 18px;
  color: black;
  padding: 15px;
  text-align: center;
  }

  .fotoDani{
    height: 300px;
    margin-left: 35px;
    border-radius: 60px;
  }