body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #fffedbc1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.my-dates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150%;
  margin: 50px auto;
  padding: 15px;
}

.appointment-form {
  width: 80%;
  margin-bottom: 20px;

}



.appointment-form input,
.appointment-form select {
  margin-bottom: 10px;
  padding: 15px;
  border: 3px solid #ccc;
  border-radius: 15px;
  font-size: 18px;
}

.form-group-calendar .react-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-top: 5%;
  width: 100%;
}


input,
select,
button {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

button {
  background-color: #FFFEDB;
  color: #0E3863;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fbd081;
}

.form-group {
  width: 100%;
  margin-top: 25px;
  
}

.citas-reservadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 50px auto;
}

.citas-reservadas h2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.appointment {
  width: calc(35.33% - 20px);
  margin: 20px 10px;
  text-align: center;
}

.cita-reservada h3 {
  margin: 0;
  font-size: 25px;
}

.cita-reservada p {
  font-size: 18px;
}

.appointment strong {
  font-size: 20px;
}

.appointment div {
  font-size: 18px;
}