body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fffedbc1;
  align-items: center;
  justify-content: center;
}

.my-dates-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1000px; 
  width: 100%;
  padding: 50px; 
}

.appointment-form {
  max-width: 1000px; 
  width: 100%;
  margin-bottom: 50px; 
}
 
.appointment-form input,
.appointment-form select {
  margin-bottom: 25px; 
  padding: 15px;
  border: 3px solid #ccc;
  border-radius: 15px;
  font-size: 22px;
}

.appointment-form label {
  margin-bottom: 15px;
  font-size: 25px; 
}

form {
  display: flex;
  flex-direction: column;
}

input,
select,
button {
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 25px; 
}

button {
  background-color: #FFFEDB;
  color: #0E3863;
  border: none;
  cursor: pointer;
  font-size: 30px; 
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fbd081;
}

.calendar {
  max-width: 100%; 
  width: 100%;
  margin-bottom: 50px; 
}


.citas-reservadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; 
}

.citas-reservadas h2 {
  width: 100%; 
  text-align: center;
  font-size: 50px; 
  margin-bottom: 20px; 
}

.appointment {
  width: calc(33.33% - 20px);
  margin: 50px 10px 100px; 
  text-align: center;
}

.cita-reservada h3 {
  margin: 0;
  font-size: 25px; 
}

.cita-reservada p {
  font-size: 20px; 
}

.appointment strong {
  font-size: 25px; 
}

.appointment div {
  font-size: 23px; /* Ajusta el tamaño del texto dentro de div */
}

