body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #fffedbc1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.my-dates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150%;
  margin: 50px auto;
  padding: 15px;
}

.appointment-form {
  width: 80%;
  margin-bottom: 20px;

}


/* Estilos para los botones */
#event,
#pack {
  position: relative;
  overflow: hidden;
  padding: 10px;
  border: none; /* Cambiado de 1px solid #ccc a none */
  border-radius: 30px;
  background: white;
  cursor: pointer;
  width: 120px;
}

/* Estilos para las flechas dentro de los botones */
#event::after,
#pack::after {
  content: "▼";
  margin-left: 5px;
}

/* Estilos para ocultar visualmente el texto pero mantener accesibilidad */
#event select,
#pack select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0; /* Cambiado de 100% a 0 */
  opacity: 0;
  cursor: pointer;
}

/* Estilos para los elementos de la lista desplegable */
#event select option,
#pack select option {
  position: absolute;
  left: -9999px;
}

/* Añadimos un contenedor extra para ajustar el diseño */
.select-container {
  display: flex;
  flex-direction: column;
}

/* Alineamos las flechas con el contenido del contenedor */
.select-container::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Alineamos el texto y la flecha verticalmente */
.select-container span {
  display: inline-block;
  vertical-align: middle;
}






.appointment-form input,
.appointment-form select {
  margin-bottom: 10px;
  padding: 15px;
  border: 3px solid #ccc;
  border-radius: 15px;
  font-size: 18px;
}

<<<<<<< HEAD
.form-group-calendar .react-calendar {
=======
.form-group-calendar {
>>>>>>> 06b814e323662f70656a38b3ad4970829b3fcfcf
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-top: 5%;
  width: 100%;
}


input,
select,
button {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

button {
  background-color: #FFFEDB;
  color: #0E3863;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fbd081;
}

.form-group {
  width: 100%;
  margin-top: 25px;
<<<<<<< HEAD
  
=======

>>>>>>> 06b814e323662f70656a38b3ad4970829b3fcfcf
}

.citas-reservadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 50px auto;
}

.citas-reservadas h2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.appointment {
  width: calc(35.33% - 20px);
  margin: 20px 10px;
  text-align: center;
}

.cita-reservada h3 {
  margin: 0;
  font-size: 25px;
}

.cita-reservada p {
  font-size: 18px;
}

.appointment strong {
  font-size: 20px;
}

.appointment div {
  font-size: 18px;
}