/* Footer.css */
.footer {
  background-color: #b6bec7;
  color: #ecf0f1;

  text-align: center;

  margin-top: 100%;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .footer {
    padding: 15px;
  }
}
