/* Footer.css */
.footer {
  background: linear-gradient(180deg, #FAFFC5 0%, #FAFFC5 57%, #EDF7AC 30%, #F6FE9C 35%, #b6bec7 100%);
  color: #ecf0f1;
  text-align: center;
  margin-top: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .footer {
    padding: 15px;
  }
}
