.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.profile-container h1 {
  margin-left: -20px;
  margin-top: 20px;
}

.right-section {
  max-width: 100%;
  margin-top: 20px;
  text-align: center;
}

.info-box.skills {
  max-width: 100%;
  margin-top: 20px;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .right-section {
    min-width: 100%;
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .right-section {
    min-width: 100%;
    margin-left: 10px; /* Ajusta este valor según tus preferencias */
  }

  .about-me,
  .skills {
    max-width: calc(100% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }

  .additional-image {
    margin-right: 10px;
  }
}

.about-me,
.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-left: 10px;
}

.profile-description {
  margin-left: 250px;
  margin-right: 250px;
  font-size: 18px;
  color: rgb(77, 139, 232);
  border: 1px solid rgb(77, 139, 232);
  border-radius: 20px;
  padding: 30px;
  max-width: 100%; /* Ajusta este valor según tus preferencias */
  text-align: justify;
  word-spacing: 5px;
}
.profile-name{
  margin-left:500px;
  font-size: 30px;


}

.contact-info-container {
  width: 400px; /* Ajusta el ancho según tus preferencias */
  margin: 20px;
}

.contact-info-content {
 
  padding: 20px;
  background-color: transparent;
  border: 1px solid #012b6b;
}

.contact-info-container h2 {
  cursor: pointer;
}

.contact-info-container:hover .contact-info-content {
  display: block;
}

.contacto{
  font-size: 16px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttonEdit {
  margin-left: 800px;
  width: auto;
  background-color: transparent;
  border: 2px solid #ffffff; 
  color: #0e449c; 
  font-size: 16px;   /* Ajusta el tamaño de la fuente según tus preferencias */
  cursor: pointer;
  transition: background-color 0.3s ease; 
}


.buttonEdit:hover {
  background-color: rgba(255, 255, 255, 0.3); 
}

.profile-image {
  width: 500px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.profile-name
{
  color: rgb(4, 64, 124);
}
.profile-description
{
  color: rgb(0, 23, 47);
}
.contact-info
{
  color: rgb(4, 64, 124);
  margin: 20px 0;
}
.info-box h2 {
  color: rgb(4, 64, 124);
}

.info-box p {
  color: rgb(0, 23, 47);
}

.info-box {
  margin: 20px 0;
}

.space-at-bottom {
  margin-bottom: 100px;
}
