
.tableReservas2{
  margin-right: 350px;

}

.citas2{
  color:#0E3863;
  margin-left: 350px;

}


.appointment-table2 {
  width: 100%;
  margin-left: 200px;
  margin-bottom: 50px;
  border-collapse: collapse;
  
}

.tabla tr td{
  text-align: center;

}
