.my-dates-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent; /* Fondo transparente */
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.my-dates-container button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
}

.my-dates-container .appointment button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 8px;
}

.button-wrapper {
  margin-top: 20px;
}

.divider {
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
}

.citas-reservadas {
  margin-top: 20px;
}

.appointment {
  padding: 12px;
  margin-bottom: 15px;
}

.appointment strong {
  font-weight: bold;
}

.appointment button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 8px;
}

.appointment button:hover {
  background-color: #c0392b;
}