.app-bar {
  background: linear-gradient(180deg, #F3EDB9 18.2%, rgba(252, 240, 131, 0.619715) 64.81%, rgba(235, 243, 146, 0.3) 100%);
  padding: 10px; /* Ajusta el espaciado según tus necesidades */
}

.app-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000; /* Color del texto */
}

h1 {
  margin: 0;
  color: #000; /* Color del texto */
}

.app-logo {
  max-width: 100px; /* Ajusta el tamaño máximo del logo según tus necesidades */
  height: auto;
}

.button-container {
  display: flex;
  gap: 10px; /* Ajusta el espacio entre los botones según tus necesidades */
}

.app-button {
  background-color: #F3EDB9; /* Color de fondo del botón */
  color: #000; /* Color del texto del botón */
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  text-decoration: none;
}

/* Media Query para dispositivos con un ancho máximo de 600px (puedes ajustar este valor según tus necesidades) */
@media (max-width: 600px) {
  .app-bar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container {
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
  }
}
