/* SignUp.css */

/* Agregar estilos globales si es necesario */

/* Estilos para el componente SignUp */
main {
    background-color: #fff; /* Establece el color de fondo que desees */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .avatar {
    margin: 1em;
    background-color: #1976d2; /* Establece el color de fondo que desees */
  }
  
  .form {
    margin-top: 2em;
  }
  
  .submit-button {
    margin-top: 1em;
  }
  
  /* Estilos adicionales para pantallas más pequeñas */
  @media (max-width: 600px) {
    main {
      padding: 10px;
    }
  }
  